<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th colspan="5">
        Science Experiments
      </th>
    </tr>
  </thead>
  <tbody>
    <% @experiments.each do |experiment| %>
      <tr>
        <td><%= link_to experiment.key, experiment_path(experiment) %></td>
        <td><%= experiment.instrument_id %></td>
        <td><%= experiment.created_at %></td>
      </tr>
    <% end %>

    <% Redis.tradegecko.keys("science.*").each do |experiment| %>
      <tr>
        <td><%= experiment %></td>
        <td><%= Redis.tradegecko.llen(experiment) %> Mismatches</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_experiment_path,
            :class => 'btn btn-primary' %>
